<div id="wrapper">

<header id="main-header">
    <nav id="header-nav">

        <h1 class="logo"><a href="/index">My Winning Trade</a></h1>
        <div id="header-nav-container">
            <ul>
                <li class="current"><a href="/index">Home</a></li>
                <li>
                    <a href="/AboutUs">About</a>
                </li>
                <li>
                    <a href="/Pricing">Pricing & Sign Up</a>
                </li>
                <li>
                    <a href="/Portal">Platform Login</a>
                </li>
                <li><a href="/Press">Press</a></li>
            </ul>
        </div>
        <a id="nav-trigger" href="#">Toggle Navigation</a>

    </nav>
</header>

<section id="cover" class="bg-paralax-fx">
    <div class="container">
        <h3 class="no-margin">Next-Gen Solution For</h3>
        <h2>Online<br> Trading</h2>
        <p>We provide ALL the tools you need to learn how to successfully trade.</p>
    </div>
</section>
<section id="features" class="fade-in">
    <div class="container">
        <div>
            &nbsp
        </div>
        <h2>Features</h2>

        <div class="column-container">
            <div class="column one-third">
                <img class="icon-50 float-left" src="assets/images/icon_html.png" alt=""/>
                <h4>Real Time</h4>
                <p>MWT provides you with access to real time data for free! Our trading simulator allows users to trade in various exchanges without having to switch platforms!</p>
            </div>

            <div class="column one-third">
                <img class="icon-50 float-left" src="assets/images/icon_responsive.png" alt=""/>
                <h4>Mobile</h4>
                <p>Yeap, theres an app for that! MWT has a native iOS app out on the App Store right now!</p>
            </div>

            <div class="column one-third last">
                <img class="icon-50 float-left" src="assets/images/icon_integration.png" alt=""/>
                <h4>Performance</h4>
                <p>MWT was built with Speed in Mind. You can be confident that our platform will perform no matter what the market condition.</p>
            </div>

            <!--<div class="column one-third">
                <img class="icon-50 float-left" src="images/icon_mail.png" alt=""/>
                <h4>AJAX Powered</h4>
                <p>Bulletproof contact form exploits the AJAX technology and does not require the page to reload.</p>
            </div>

            <div class="column one-third">
                <img class="icon-50 float-left" src="images/icon_check.png" alt=""/>
                <h4>W3C Compliant</h4>
                <p>The template is built in correspondence with the standards established by W3C.</p>
            </div>

            <div class="column one-third last">
                <img class="icon-50 float-left" src="images/icon_chat.png" alt=""/>
                <h4>We Are Listening</h4>
                <p>In case of any questions you can count on our assistance. If you are in trouble we're here to help!</p>
            </div>-->
        </div>
    </div>
</section>

<section id="portfolio" class="back-diagonals">
    <div class="container">
        <div>
            &nbsp
        </div>
        <h2>You're an <a href="http://en.wikipedia.org/wiki/Autodidacticism">Autodidact</a>?</h2>
        <h3>Our founder is too. These books are great for learning about trading.</h3>

        <div class="column-container portfolio small">

            <article class="column one-third portfolio-item cat-ui">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/TradingRisk.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>Trading Risk</h4>
                    <p>No trader, professional or individual, can afford not to have a solid risk management ...</p>
                    <p><a href="http://www.amazon.com/Trading-Risk-Enhanced-Profitability-ebook/dp/B008L046HE/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380670911&sr=1-1&keywords=Trading+Risk">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/Trading-Risk-Enhanced-Profitability-ebook/dp/B008L046HE/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380670911&sr=1-1&keywords=Trading+Risk">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
            <article class="column one-third portfolio-item cat-ui">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/TradeWhatYouSee.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>Trade What You See: Pattern Trading</h4>
                    <p>Trading the financial markets is extremely difficult, but with the right approach ...</p>
                    <p><a href="http://www.amazon.com/Trade-What-You-See-ebook/dp/B008E7ADY4/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675269&sr=1-1&keywords=Trade+what+you+see">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/Trade-What-You-See-ebook/dp/B008E7ADY4/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675269&sr=1-1&keywords=Trade+what+you+see">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
            <article class="column one-third portfolio-item cat-icons">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/TradesAboutToHappen.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>Trades About To Happen</h4>
                    <p>Price and volume analysis is one of the most effective approaches to market analysis ...</p>
                    <p><a href="http://www.amazon.com/Trades-About-Happen-Adaptation-ebook/dp/B00CEVGIA4/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675597&sr=1-1&keywords=trades+about+to+happen">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/Trades-About-Happen-Adaptation-ebook/dp/B00CEVGIA4/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675597&sr=1-1&keywords=trades+about+to+happen">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
            <article class="column one-third portfolio-item cat-ui">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/FibTrading.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>Fibonacci Trading</h4>
                    <p>This book guides the readers in creating a personalized trading system that allows ...</p>
                    <p><a href="http://www.amazon.com/Modified-Heikin-Fibonacci-Trading-ebook/dp/B00AXWLJU0/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675882&sr=1-1&keywords=the+modified+heikin+ashi+fibonacci+trading+system">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/Modified-Heikin-Fibonacci-Trading-ebook/dp/B00AXWLJU0/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1380675882&sr=1-1&keywords=the+modified+heikin+ashi+fibonacci+trading+system">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
            <article class="column one-third portfolio-item cat-ui">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/HowMarketsReallyWork.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>How Markets Really Work: Stock Market Behavior</h4>
                    <p>Common wisdom holds that the stock markets are ever changing. But, as it turns out ...</p>
                    <p><a href="http://www.amazon.com/How-Markets-Really-Work-ebook/dp/B00772I498/ref=sr_1_sc_1?s=digital-text&ie=UTF8&qid=1380676297&sr=1-1-spell&keywords=How+markets+reall+work">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/How-Markets-Really-Work-ebook/dp/B00772I498/ref=sr_1_sc_1?s=digital-text&ie=UTF8&qid=1380676297&sr=1-1-spell&keywords=How+markets+reall+work">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
            <article class="column one-third portfolio-item cat-icons">
                <div class="portfolio-item-cover">
                    <p><img class="full-width" src="/assets/BookCovers/TradingBeyondTheMatrix.jpg" /></p>
                </div>
                <div class="portfolio-item-description">
                    <h4>Trading Beyond the Matrix</h4>
                    <p>In the unique arena of professional trading coaches and consultants, Van K. Tharp is an  ...</p>
                    <p><a href="http://www.amazon.com/Trading-Beyond-Matrix-Investors-ebook/dp/B00BJOHLF8/ref=pd_sim_kstore_6">Read more</a></p>
                    <ul class="actions">
                        <li class="read-more"><a href="http://www.amazon.com/Trading-Beyond-Matrix-Investors-ebook/dp/B00BJOHLF8/ref=pd_sim_kstore_6">Read more</a></li>
                        <li class="zoom-in"><a href="#">Zoom in</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- <section id="team">
    <div class="container">
        <h2>The Team</h2>
        <h3>We have a History of Winning</h3>
        <p>Born from taking the top prize at the Fairfield University Business Plan Competition.</p>
        <div class="column-container">
            <div class="column one-fourth align-center">
                <div class="photo-container">
                    <img class="rounded" src="images/photo_steven.jpg" alt="" />
                    <p class="contacts">
                        <a href="https://www.linkedin.com/pub/frank-c-serravalli/30/83a/39a" class="icon-in">linkedin</a>
                    </p>
                </div>
                <h5>Frank S.</h5>
                <p>Chief Executive Officer</p>
            </div>

            <div class="column one-fourth align-center">
                <div class="photo-container">
                    <img class="rounded" src="images/photo_amy.jpg" alt="" />
                    <p class="contacts">
                        <a href="https://www.linkedin.com/pub/christina-serravalli/59/724/38a" class="icon-in">linkedin</a>
                    </p>
                </div>
                <h5>Christina S.</h5>
                <p>Chief Executive Officer</p>
            </div>

            <div class="column one-fourth align-center">
                <div class="photo-container">
                </div>
            </div>

            <div class="column one-fourth align-center last">
                <div class="photo-container">
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="testimonials">
    <div class="container">
        <div>
            &nbsp
        </div>
        <h2>What People Say</h2>
        <ul id="testimonials-container" class="slides">
            <li class="current">
                <blockquote>MyWinningTrade is the easiest trading system I've encountered and I love it. Everything I wanted was located on the dashboard, with a few clicks I had my stocks in my portfolio. I check MWT a few times a day and I've always had a quick loading time, whether it be at work or at home.</blockquote>
                <p class="author"><strong>Frank V.</strong>  MWT Global Leader</p>
            </li>
            <li>
                <blockquote>MWT's backend is really amazing. If you want to really understand the mechanics of your trading, you need to understand the metrics MWT provides at the click of a button.</blockquote>
                <p class="author"><strong>Nicholas M.</strong>  CPA</p>
            </li>
            <li>
                <blockquote>Disclaimer: I'm an advertising guy who thought he had no business using MWT. I was so wrong. It's crucial to understand how to build wealth in the stock market, and MWT provided me the full experience without the risk of real cash. I don't think I could get this kind of experience anywhere else.</blockquote>
                <p class="author"><strong>Oliver D.</strong>  Founder, <a href="http://www.Casulin.com">Casulin</a></p>
            </li>
        </ul>
        <nav id="testimonials-nav">
            <ul class="slide-nav">
                <li class="current"><a href="#">FV</a></li>
                <li><a href="#">NM</a></li>
                <li><a href="#">OD</a></li>
            </ul>
        </nav>
    </div>
</section>
<!-- # TODO: Edit the mailing form to work in a rails environment

-->
<section id="contact" class="back-grey">
    <div class="container">
        <div class="column-container">
            <div class="column one-half">
                <h3>About us:</h3>
                <p>
                    My Winning Trade is an Online Trading Game that allows users to FREE access to realtime data, professional grade charts and the ability to download all your transactions into excel to create your own Profit and Loss Statements.
                </p>
            </div>
            <div class="column one-half last">
                <h3>More Questions?</h3>
                <form id="contact-form">

                    <p id="contact-form-success" class="form-success-message">
                        <strong>Your message was sent!</strong><br>
                        We will respond to your request as soon as possible. Thank you for your interest!
                    </p>

                    <p><input id="contact-name" class="required" name="contact-name" type="text" placeholder="Name" /></p>
                    <p><input id="contact-email" class="required" name="contact-email" type="text" placeholder="Email" /></p>
                    <p><textarea id="contact-mesage" class="required" name="contact-message" placeholder="Message"></textarea></p>
                    <p class="submit"><button class="form-submit button grey" type="submit">Submit</button></p>
                </form>
            </div>
        </div>
    </div>
</section>

<footer id="main-footer">
    <div class="container">
        <ul id="footer-socials">
            <li><a href="https://www.facebook.com/WinningTrade" id="icon-fb">fb</a></li>
            <li><a href="https://twitter.com/MyWinningTrade" id="icon-twi">twitter</a></li>
            <li><a href="https://www.linkedin.com/company/2749798?trk=prof-0-ovw-curr_pos" id="icon-in">linkedin</a></li>
        </ul>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/AboutUs">About</a></li>
                <li><a href="/Pricing">Pricing & Sign Up</a></li>
                <li><a href="/Portal">Platform Login</a></li>
                <li><a href="/Press">Press</a></li>
            </ul>
        </nav>
        <p id="footer-copyright">© 2014 The Winning Trade LLC. All rights reserved.</p>
    </div>
</footer>

</div>