<div id="wrapper">

    <header id="main-header">
        <nav id="header-nav">

            <h1 class="logo"><a href="/index">My Winning Trade</a></h1>
            <div id="header-nav-container">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li>
                        <a href="/AboutUs">About</a>
                    </li>
                    <li>
                        <a href="/Pricing">Pricing & Sign Up</a>
                    </li>
                    <li class="current">
                        <a href="/Portal">Platform Login</a>
                    </li>
                    <li><a href="/Press">Press</a></li>
                </ul>
            </div>
            <a id="nav-trigger" href="#">Toggle Navigation</a>

        </nav>
    </header>

    <section id="main" class="back-grey">
        <div class="container">

            <!-- <h2>Login</h2>

            <div class="column-container">

             <!--   <div class="column full-width">
                    <h3>Our office on the map</h3>
                    <div id="map-canvas">
                    </div>
                </div>
              -->
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div class="column one-third first">
                <h3>&nbsp;</h3>
                <form class="form-signin" method ="post" action ="/sessions/create" accept-charset="UTF-8">
                    <h4 align="center" class="form-signin-heading">Sign in with MWT</h4>
                    <p><input id="email" type="text" name="email" placeholder="Email address"></p>
                    <p><input id="password" type="password" name="password" placeholder="Password"></p>
                    <input class="form-submit button grey" type="submit" value="Sign In" name="commit"></input>
                </form>
            </div>
            <div class="column one-third align-center">
                <h3>&nbsp;</h3>
                <form>
                    <h4 class="form-signin-heading">Social Media Logins</h4>
                    <a class="form-submit button facebook" href="/auth/facebook">Sign in With Facebook</a>
                    <a class="form-submit button linkedin" href="/auth/linkedin">Sign in With LinkedIn</a>
                </form>
            </div>
            <div class="column one-third last">
                <h3>&nbsp;</h3>
                <form class="form-signin" method="post" action="/user/create" accept-charset="UTF-8">
                    <h4 align="center" class="form-signin-heading">Sign up for MWT</h4>
                    <p><input id="user_name" type="text" size="30" name="user[name]" placeholder="Your Name"></p>
                    <p><input id="user_email" type="text" size="30" name="user[email]" placeholder="Your E-Mail"></p>
                    <p><input id="user_password" type="password" size="30" name="user[password]" placeholder="Password"></p>
                    <p><input id="user_password_confirmation" type="password" size="30" name="user[password_confirmation]" placeholder="Confirm Password"></p>
                    <input class="form-submit button grey" type="submit" value="Sign Up" name="commit"></input>
                </form>
            </div>

        </div>
    </section>
    <footer id="main-footer">
        <div class="container">
            <ul id="footer-socials">
                <li><a href="https://www.facebook.com/WinningTrade" id="icon-fb">fb</a></li>
                <li><a href="https://twitter.com/MyWinningTrade" id="icon-twi">twitter</a></li>
                <li><a href="https://www.linkedin.com/company/2749798?trk=prof-0-ovw-curr_pos" id="icon-in">linkedin</a></li>
            </ul>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/AboutUs">About</a></li>
                    <li><a href="/Pricing">Pricing & Sign Up</a></li>
                    <li><a href="/Portal">Platform Login</a></li>
                    <li><a href="/Press">Press</a></li>
                </ul>
            </nav>
            <p id="footer-copyright">© 2014 The Winning Trade LLC. All rights reserved.</p>
        </div>
    </footer>

</div>



