<div id="wrapper">

    <header id="main-header">
        <nav id="header-nav">

            <h1 class="logo"><a href="/index">My Winning Trade</a></h1>
            <div id="header-nav-container">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li>
                        <a href="/AboutUs">About</a>
                    </li>
                    <li>
                        <a href="/Pricing">Pricing & Sign Up</a>
                    </li>
                    <li>
                        <a href="/Portal">Platform Login</a>
                    </li>
                    <li class="current"><a href="/Press">Press</a></li>
                </ul>
            </div>
            <a id="nav-trigger" href="#">Toggle Navigation</a>

        </nav>
    </header>
    <div>
        &nbsp;
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        &nbsp;
    </div>
    <div>
        &nbsp;
    </div>
    <section id="press" class="back-diagonals">
        <div class="container">
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>

            <div class="column one-third first">
                <h4><a href="http://westfaironline.com/54087/building-a-center-for-innovation-at-fairfield-u/">Center for Innovation: Interview</a></h4>
                <p>Now in its second year, the Student Business Plan Competition at Fairfield University awarded $20,000 to the top teams in venture and social enterprise categories. Last year's winner, Frank Serravalli, sat down and discussed what it takes to win and start a business.</p>
                <p><a class="button light-grey" href="http://westfaironline.com/54087/building-a-center-for-innovation-at-fairfield-u/">Read More &raquo;</a></p>
            </div>
            <div class="column one-third center">
                <h4><a href="http://www.fairfield.edu/lassochannel/press/pr_index/index.lasso?id=3477">Stakes High at the Inaugural Business Plan Competition</a></h4>
                <p>Frank Serravalli '13, creator of "The Winning Trade," a web-based financial trading platform game, was the winner of the competition, besting 17 other contenders. The New York resident not only took home $10,000 in prize money, but the determination to pursue his dream of starting a business.</p>
                <p><a class="button light-grey" href="http://www.fairfield.edu/lassochannel/press/pr_index/index.lasso?id=3477">Read More &raquo;</a></p>
            </div>
            <div class="column one-third last">
                <h4><a href="/Press">Casulin interviews Founder of MyWinningTrade.com</a></h4>
                <p>Details to Follow!</p>
                <p><a class="button light-grey" href="/Press">Read More &raquo;</a></p>
            </div>
        </div>
    </section>
    <footer id="main-footer">
        <div class="container">
            <ul id="footer-socials">
                <li><a href="https://www.facebook.com/WinningTrade" id="icon-fb">fb</a></li>
                <li><a href="https://twitter.com/MyWinningTrade" id="icon-twi">twitter</a></li>
                <li><a href="https://www.linkedin.com/company/2749798?trk=prof-0-ovw-curr_pos" id="icon-in">linkedin</a></li>
            </ul>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/AboutUs">About</a></li>
                    <li><a href="/Pricing">Pricing & Sign Up</a></li>
                    <li><a href="/Portal">Platform Login</a></li>
                    <li><a href="/Press">Press</a></li>
                </ul>
            </nav>
            <p id="footer-copyright">© 2014 The Winning Trade LLC. All rights reserved.</p>
        </div>
    </footer>

</div>

